---
---
<!DOCTYPE html>
<html>

<head>
<title>Joe Sadowski (The Big Sadowski)</title>
<link rel="stylesheet" href="/style/all.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<style>
p, li { font-size: 90%; }
address { font-size: 90%; margin-top: 10px; }
address a { padding-right: 3em; }
h2 span { color: #666; font-size: 50%; }
h2 { margin-top: 40px; margin-bottom: 0; }
h4 { margin-bottom: 0; }
li { margin-top: 8px; margin-bottom: 8px; }
</style>
</head>

<body>
<div class="post">
<h1>Joe Sadowski</h1>
<address>
	<a href="mailto:joe.sadowski@gmail.com">joe.sadowski@gmail.com</a>
	<a>617-642-9419</a>
	<a href="https://twitter.com/joeski">@joeski</a>
	<a href="http://thebigsadowski.com">thebigsadowski.com</a>
</address>


{{content}}
</div>
{% include analytics.html %}
</body>

</html>